#main-menu {
    margin-left:0px;
}
#main-menu LI {
    width:199px!important;
    zoom: 1;
    *display: inline; 
    *float: none!important;
}
nav{
    width:100%;
}
#img-center{
    display:none!important;
}

aside{
    margin-top:100px;
}

.right-block{
    margin-bottom:50px;
}

.col-3{
    width:67%!important;
}

#img-logo H2 {
    line-height:1em;
}