/* ----------- iPad mini ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}


/* ----------- iPad 1 and 2 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .img-logo {
        float: left;
    }
    .img-center {
        display: none;
        width: 300px;
        margin: auto;
    }
    .menu {
        display: table;
        table-layout: fixed;
        /* optional, for equal spacing */
        border-spacing: 0;
        /* Removes the cell spacing via CSS */
        border-collapse: collapse;
    }
    .menu li {
        background-color: #EB0951;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-right-style: dotted;
        border-right-width: 1px;
        border-color: #EAE2D7;
    }
    #follow-us a {
        float: left;
    }
    .right-block-items {
        margin: auto;
        display: block;
        width: 430px;
    }
    .hamburger {
        display: none;
    }
    .cross {
        display: none;
    }
    #searchForm {
        float: right;
        display: block;
    }
    #searchForm>button {
        background-color: #EB0951;
        width: 100px;
        color: white;
        line-height: 15px;
        height: 30px;
        position: static;
        /* float: right; */
        font-size: 0.9em;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: small;
    }
    input[type="search"] {
        border-radius: 10px;
        border-color: #BFB2B2;
        padding: 4px 1px 4px 10px;
        box-sizing: border-box;
        border-width: 1px;
    }
    .column-1 img {
        width: 500px;
    }
    .col-3 {
        margin-top: 40px;
        float: none;
        overflow: hidden;
    }
}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    aside {
        overflow: hidden;
        float: none;
    }
    section {
        overflow: hidden;
    }
    .column-1 {
        width: 50%;
        float: left;
    }
    .right-block {
        width: 30%;
        float: left;
        margin-right: 2%;
    }
    .right-block:first-of-type {
        margin-left: 3%;
    }
    .right-block:last-of-type {
        margin-right: 3%;
    }
    #follow-us a {
        float: none;
    }
    .right-block-items {
        width: 100%;
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-device-pixel-ratio: 1.5) {}

@media screen and (max-device-width: 601px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 120%;
    }
}
