/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) {
    .main-container {
        width: 960px;
        margin: auto;
    }
    #img-center {
        display: block
    }
    .hamburger,
    .cross {
        display: none;
    }
    section {
        width: 70%;
        float: left;
    }
    .column-6 {
        width: 50%;
    }
    #column-img {
        float: right;
    }
    #column-text {
        float: left;
    }
    .column {
        margin-top: 80px;
    }
    #main-header {
        text-align: center;
        height: 100px;
        position: static;
        background: none;
    }
    aside {
        overflow: hidden;
        float: right;
        width: 30%;
    }
    .col-3 {
        margin-top: 40px;
        float: left;
        width: 70%;
        padding-right: 26px;
        box-sizing: border-box;
    }
    #img-logo {
        float: left;
        margin-top: 15px;
        height: 70px;
    }
    #img-logo h1 {
        line-height: normal;
    }
    #img-center {
        display: inline-block;
        width: 300px;
        margin: auto;
        margin-top: 15px;
        box-sizing: border-box;
    }
    #main-menu {
        display: block;
        background: none;
        position: static;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
    }
    #main-menu li {
        position: relative;
        z-index: 0;
        background-color: #EB0951;
        text-align: center;
        border-right: 1px dotted #eae2d7;
        float: left;
        box-sizing: border-box;
        width: 160px;
    }
    .right-block h3 {
        margin: 0;
        text-align: left;
    }
    .right-block-items ul {
        margin: 0;
    }
    #main-menu li:first-of-type {
        border-radius: 7px 0px 0px 7px;
    }
    #main-menu li:last-of-type {
        border-radius: 0px 7px 7px 0px;
    }
    #column-img img {
        width: 120%;
        margin: auto;
        display: block;
        margin-left: -20%;
    }
    #search-form {
        margin-top: 15px;
        float: right;
        display: block;
        /* need for clear display:none; */
    }
    #search-form>button {
        background-color: #EB0951;
        width: 100px;
        color: white;
        line-height: 15px;
        height: 30px;
        position: static;
        /* float: right; */
        font-size: 0.9em;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: small;
    }
    input[type="search"] {
        border-radius: 10px;
        border-color: #BFB2B2;
        padding: 4px 1px 4px 10px;
        box-sizing: border-box;
        border-width: 1px;
    }
    #img-logo h2 {
        margin: 0;
        display: block;
        line-height: 0.1em;
        font-stretch: ultra-condensed;
        font-size: 0.8em;
        margin-left: 20px;
        color: black;
    }
    .sliderImg {
        width: 225px;
    }
    #find-us {
        width: initial;
    }
    .right-block-items{
        overflow: hidden;
    }
}




@media screen and (min-device-width: 1600px) {
    #column-img img {
        width: 100%; 
        margin-left: 0%; 
    }
    .main-container {
        width: 1200px;
    }
    #follow-us a {
        float: left;
        margin-right: 8px;
        font-size: 0.9em;
        width: auto;
    }
    #main-menu li {
        width: 200px;
    }
}

