/* ----------- Non-Retina Screens ----------- */
@media screen 
	and (min-device-width: 1200px) { 
	.container{
		width: 1000px;
    	margin:  auto;
	}

	.hamburger{
		display: none;
	}
		
	.cross{
		display: none;
	}


	section{
		width: 70%;
		float: left;
	}

  	.column-1{
  		width: 50%;
  		float:right;
  	}

  	.column-2{
  		width: 50%;
  		float: left;
  	}
  	.column{
  		margin-top:80px;
  	}

	#main-header{
		text-align: center;
		height: 100px;
		position: static;
		background:none;
	}

  	aside{
  		overflow: hidden;
  		float: right;
    	width: 30%;
  	}

  	.col-3{
  		margin-top: 40px;
  		float: left;
	    width: 70%;
	    padding-right: 26px;
	    box-sizing: border-box;
  	}

  	.img-logo {
	    float: left;
	    margin-top: 15px;
	    height: 70px;
	}
	.img-logo h1 {
	    line-height: normal;
	}

	.img-center {
	    display: inline-block;
	    width: 300px;
	    margin: auto;
	    margin-top: 15px;
	    box-sizing: border-box;
	}

	.menu{
		background: none;
		position: static;
		display: table;
		table-layout: fixed; /* optional, for equal spacing */
    	border-spacing: 0; /* Removes the cell spacing via CSS */
  		border-collapse: collapse;
	}
	.menu li {
		float:none;
		background-color: #EB0951;
		display: table-cell;
	   	text-align: center;
	   	vertical-align: middle;
	   	border-right-style: dotted;
  		border-right-width: 1px;
  		border-color: #EAE2D7;
	}

	.right-block h3{
		margin:0;
		text-align:left;
	}

	.right-block-items ul{
		margin:0;

	}

	.menu li:first-of-type{
		border-radius: 7px 0px 0px 7px;
	}

	.menu li:last-of-type{
		border-radius: 0px 7px 7px 0px;
	}

	.column-1 img {
	    width: 120%;
	    margin: auto;
	    display: block;
	    margin-left: -20%;
	}

	#searchForm{
		margin-top:15px;
		float: right;
		display: block;
	}

	#searchForm>button{
		background-color: #EB0951;
		width: 100px;
		color: white;
		line-height: 15px;
		height: 30px;
		position: static;
		/* float: right; */
		font-size: 0.9em;
		box-sizing: border-box;
		border: none;
		border-radius: 10px;
		padding: 5px 20px;
		font-size: small;
	}

	input[type="search"]{
		border-radius: 10px;
		border-color: #BFB2B2;
		padding: 4px 1px 4px 10px;
		box-sizing: border-box;
		border-width: 1px;
	}

	.img-logo h2 {
	    margin: 0;
	    display: block;
	    line-height: 0.1em;
	    font-stretch: ultra-condensed;
	    font-size: 0.8em;
	    margin-left: 20px;
	    color: black;
	}
	.sliderImg {
    	width: 225px;
    }
}


/* ----------- Retina Screens ----------- */
@media screen 
	and (min-device-width: 1200px) 

	and (-webkit-min-device-pixel-ratio: 2)
	and (min-resolution: 192dpi) {
		
}

@media screen 
	and (min-device-width: 1600px)  {
		.container{
			width: 1200px;
		}
		#follow-us a {
			float:left;
			margin-right: 8px;
    		font-size: 0.9em;
    		width:auto;
		}
}