/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .menu {
        position: static;
    }
    #img-logo {
        float: left;
    }
    #img-center {
        display: none;
    }
    #main-header {
        height: initial;
    }
    #main-menu {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
    }
    #main-menu li {
        background-color: #EB0951;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-right: 1px dotted #eae2d7;
    }
    .menu li {
        line-height: 25px;
    }
    #follow-us a {
        float: left;
    }
    .right-block-items {
        margin: auto;
        display: block;
        width: 430px;
    }
    .hamburger {
        display: none;
    }
    .cross {
        display: none;
    }
    #search-form {
        float: right;
        display: block;
    }
    #search-form>button {
        background-color: #EB0951;
        width: 100px;
        color: white;
        line-height: 15px;
        height: 30px;
        position: static;
        /* float: right; */
        font-size: 0.9em;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: small;
    }
    input[type="search"] {
        border-radius: 10px;
        border-color: #BFB2B2;
        padding: 4px 1px 4px 10px;
        box-sizing: border-box;
        border-width: 1px;
    }
    #column-img img {
        width: 500px;
    }
    .col-3 {
        margin-top: 40px;
        float: none;

    }
    .col-3:after {
      content:"";
      display:table;
      clear:both;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    aside {
        overflow: hidden;
        float: none;
    }
    section {
        overflow: hidden;
    }
    #column-img {
        width: 50%;
        float: left;
    }
    .right-block {
        width: 30%;
        float: left;
        margin-right: 2%;
    }
    .right-block:first-of-type {
        margin-left: 3%;
    }
    .right-block:last-of-type {
        margin-right: 3%;
    }
    #follow-us a {
        float: none;
    }
    .right-block-items {
        width: 100%;
    }
}

@media screen and (max-device-width: 601px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 120%;
    }
}
