@media only screen 
	and (orientation: portrait) 
	and (max-device-width: 590px)  {
	.container {
		margin-top:80px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	 }

	.container .column-1 {
	    -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	}

	.container .column-2 {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	
	.container aside {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
		width: 100%;

	}

	.container .col-3 {
		-webkit-box-ordinal-group: 4;
		-moz-box-ordinal-group: 4;
		-ms-flex-order: 4;
		-webkit-order: 4;
		order: 4;
	}
	.column-1{
		margin-top:80px;
	}
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* Portrait */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* Portrait */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.container{
			margin-top:80px;
		}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 2) {
		.container{
			margin-top:80px;
		}
		#follow-us a {
			float: none;
			width:100px;
		}
		.hamburger{
			display: none;
		}
		.cross{
			display: none;
		}
		.menu{
			display: block;
			box-sizing: border-box;
			margin: auto;
			padding: 0;
			background-color: #EB0951;
			display: table;
			table-layout: fixed; /* optional, for equal spacing */
    		border-collapse: collapse;
    		background: none;
		} 
		.menu li {
			float:none;
			background-color: #EB0951;
			display: table-cell;
		   text-align: center;
		   vertical-align: middle;
		}
		.menu{
			top: 70px;
		}
		.column-1{
			width: 50%;
			float: left;
			margin-top: 80px;
		}
		.column-2{
			width: 50%;
			float: left;
			margin-top: 100px;
			overflow: hidden;
		}
		aside{
			width: 100%;
			overflow: hidden;
		}
		.rightMenu{
			width: 30%;
			float: left;
			margin-right: 2%;
		}
		.rightMenu:first-of-type{
			margin-left: 3%;
		}
		.rightMenu:last-of-type{
			margin-right: 3%;
		}
		.sliderImg {
		    margin: auto 40px;
		    width: 250px;
		}

		.slick-prev {
	   	left: 0px; 
		}

		.slider {
		    padding-bottom: 20px;
		    padding-top: 20px;
		    width: 100%;
		}

		.slick-slider {
			margin-bottom: 0px;
		}

		.slick-next {
		   right: 0px;
		}
		.col-3{
			margin-top: 40px;
		}
		.img-center{
			margin-top: 0;
			float: left;
		}
		.img-logo{
			width: 33%;
			float: left;
		}

		#searchForm{
			display: block;
			float: right;
		}

		#searchForm button{
			line-height: 0px;
		   border: 0px;
		   height: 20px;
		   background-color: #EB0951;
		   color: white;
		   border-radius: 10px;
		   font-size: 0.7em;
		   margin-right: 10px;
		   padding: 12px;
		   box-sizing: border-box;
		}

		#searchForm input[type=search]{
			border-radius: 5px;
		   border: 1px solid #EAE2D7;
		   color: black;
		   font-size: 0.8em;
		   padding: 4px 20px 4px 10px;
		}

}

/* Portrait */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 2) {
		.rightMenu{
			margin-left: 3%;
			width: 44%;
		}
		#follow-us{
			width: 94%;
		}
		.img-center{
			display: none;
		}
		.img-logo h1 {
		    margin-left: 0px;
		    font-size: 2.8em;
		}
		
}

/* Landscape */
@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {
		
}

.active{
	background-color: black!important;
	border-bottom: 0px!important;
}