.FB-f-Logo__blue_100:before,
.Twitter-Logo-Icon-by-Jon-Bennallick-02:before,
.google_plus_logo:before {
    background: url("../images/sprites.png") no-repeat;
    float: left;
    display: block;
    content: '';
    height: 35px;
    width: 35px;
    margin-right: 10px
}

.FB-f-Logo__blue_100:before {
    background-position: 0 0!important;
}

.Twitter-Logo-Icon-by-Jon-Bennallick-02:before {
    background-position: -79px 0!important;
}

.google_plus_logo:before {
    background-position: -39px 0!important;
}
