/* elements */

// nav toggle
#nav-toggle {
  position: fixed;
  left: $gutter;
  top: $gutter;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index: 11;
  span {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    &:before, &:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: white;
      position: absolute;
      display: block;
      content: '';
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
    transition: all 500ms ease-in-out;
    &:before, &:after {
      transition: all 500ms ease-in-out;
    }
  }
  &.active span {
    background-color: transparent;
    &:before, &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
