/* main style */

// simple reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: $color-text;
}

.wrapper {
  padding: 50px 0;
}

.row {
  background-color: $color-white;
  @include border-radius(15px);
}

section {
  background: $color-white;
  @include border-radius(15px);
  header {
    padding: $gutter;
    position: relative;
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4em;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, $color-akaroa 20%, rgba(255, 255, 255, 0) 0%);
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
    &.color {
      background: $color-razzmatazz;
      color: $color-white;
      @include border-top-radius(inherit);
      &:after {
        background: $color-grey-light;
        height: 2px;
      }
    }
  }
  &.left {
    position: relative;
    @include border-bottom-right-radius(0);
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, $color-akaroa 20%, rgba(255, 255, 255, 0) 0%);
      background-position: left;
      background-size: 1px 5px;
      background-repeat: repeat-y;
    }
    header {
      &.color {
        @include mq(900px) {
          @include border-top-left-radius(inherit);
          @include border-top-right-radius(0);
        }
      }
    }
  }
  &.right {
    @include border-bottom-left-radius(0);
    header {
      &.color {
        @include mq(900px) {
          @include border-top-left-radius(0);
          @include border-top-right-radius(inherit);
        }
      }
    }
  }
  .blocks {
    padding: $gutter/2 $gutter;
    .block-content {
      padding: $gutter/2 0;
      font-size: 1.2em;
      line-height: 1.5;
      h3 {
        color: $color-text-dark;
        padding: $gutter/4 0;
      }
    }
  }
}

.sidebar {
  section {
    margin-bottom: $gutter;
    header {
      h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4em;
        color: $color-razzmatazz;
      }
    }
    .block-content {
      padding: $gutter;
      font-size: 1.2em;
      line-height: 1.5;
    }
  }
}
