/* variables */

$color-white: #fff;
$color-grey-light: #e5e5e5;
$color-background: #eae2d7;
$color-text: #b2a695;
$color-text-dark: #2a1f0f;
$color-razzmatazz: #e61052;
$color-radical-red: #fb2e6d;
$color-akaroa: #d9cbb6;

// grid settings
$wrapper: 960px;
$gutter: 20px;

// breakpoints
$medium-device: 600px;
$large-device: 900px;
